.to-do-heading{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-bottom: 0.625em;
 border-bottom: 3px solid #283c46;
}
.view-as-btn{
	border-radius: 1.5em;
	border: 1px solid #283c46;
	padding: 10px;
	background: transparent;
	cursor: pointer;
}
h1{
	margin: 0;
}
